{% extends 'base.html' %}

{% block content %}

  <div class="container">
      <br>
{% if request.user.is_student %}
<span class="badge badge-pill badge-dark">Student</span> <br> <br>
    {% if projects %}
    {% for p in projects %}
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ p.id }}: {{ p.title }}</h5>
        <p class="card-text">Project by: {{ p.user.first_name }} {{ p.user.last_name }}</p>
        <p class="card-text">Posted on: {{ p.timestamp }}</p>
        {% if request.user.is_student  %}
        {% if p.status == "open" %}
        <a href="{% url 'register_interest' p.id %}" class="btn btn-primary">Register Interest</a>
        {% elif p.status == "approved" %}
        <div class="alert alert-success" role="alert">
        Congratulations! Your interest has been approved by the client. <br> You can start working on your project!
        </div>
        {% endif%}
        {% endif%}
        </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}
{% endif %}

{% if request.user.is_client %}
<span class="badge badge-pill badge-dark">Client</span> <br> <br>
    {% for p in posted_by %}
    {% if request.user == p.user %}
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ p.id }}: {{ p.title }}</h5>
        <p class="card-text">Project by: {{ p.user.first_name }} {{ p.user.last_name }}</p>
        <p class="card-text">Posted on: {{ p.timestamp }}</p>
        {% for a in p.interests.all %}
        <p class="card-text">Interests registered by: {{ a.first_name }} {{ a.last_name }}</p>
        {% endfor %}
        
        {% if p.status == "registered interest" %}
        <a href="{% url 'approve' p.id %}" class="btn btn-success">Approve</a> &nbsp; <a href="{% url 'deny' p.id %}" class="btn btn-danger">Deny</a>
        {% endif%}
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
{% endif %}

</div>
{% endblock %}