{% extends 'base.html' %}

{% block content %}

  <div class="container">
      <br>
{% if user.is_client %}
  <a href="{% url 'add_project' %}" class="btn btn-outline-primary">Add Project</a> <a href="{% url 'profile' request.user.id %}" class="btn btn-outline-success">My Dashboard</a>
{% elif user.is_student %}
  <a href="{% url 'profile' request.user.id %}" class="btn btn-outline-success">My Dashboard</a>
{% endif %}
<br><br>

{% if projects %}
{% for p in projects %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'show_project' p.id %}" class="card-link">{{ p.title }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ p.technology }}</h6>
      <a href="{% url 'company' p.company %}"><h6 class="card-subtitle mb-2 text-muted">{{ p.company }}</h6></a>
      <p class="card-text">{% autoescape off %}{{ p.description|safe|truncatechars_html:255 }}{% endautoescape %}... <a href="{% url 'show_project' p.id %}" class="card-link">Show More</a></p>
      <p class="card-text">Project by: <a href="{% url 'show_user' p.user.id %}"><b>{{ p.user.first_name }} {{ p.user.last_name }}</b></a></p>
      <a href="{% url 'tags' p.industry %}"><h6><span class="badge bg-secondary">{{ p.industry }}</span></h6></a>
      <small><i class="material-icons" style="font-size:16px">place</i> <a href="{% url 'location' p.location %}">{{ p.location }}</a> <br> <i>Posted on: {{ p.timestamp }}</i></small>
      
      {% if request.user.is_student %}
      {% if p.status == "open" %}
      <a href="{% url 'register_interest' p.id %}" class="btn btn-primary">Register Interest</a>
      {% elif p.status == "registered interest" %}
      <a href="{% url 'register_interest' p.id %}" class="btn btn-primary disabled">Registered Interest</a>
      {% endif%}
      {% endif%}
    </div>
  </div>
  <br>
{% endfor %}
<!-- Pagination starts here -->
<div class="row justify-content-center">
  <nav aria-label="...">
    <ul class="pagination">
        {% if projects.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}page={{ projects.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for pg in projects.paginator.page_range %}
            {% if projects.number == pg %}
                <li class="page-item active"><a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}page={{ pg }}">{{ pg }}</a></li>
            {% elif pg > projects.number|add:'-3' and pg < projects.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}page={{ pg }}">{{ pg }}</a></li>
            {% endif %}
        {% endfor %}
        {% if projects.has_next %}
            <li class="page-item"><a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}page={{ projects.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
  </nav>
</div>

{% else %}
No projects found! ☹️ <br><br>
{% endif %}



</div>
{% endblock %}