{% extends 'base.html' %}

{% block content %}

  <div class="container">
      <br>
{% if user.is_client %}
<div class="d-grid gap-2">
  <a href="{% url 'add_project' %}" class="btn btn-primary" tabindex="-1" role="button">Add Project</a>
</div>
{% endif %}
<br>

{% if projects %}
{% for p in projects %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'show_project' p.id %}" class="card-link">{{ p.title }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ p.resources }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ p.company }}</h6>
      <p class="card-text">{{ p.description|safe|slice:":255" }}</p>
      <p class="card-text">Project by: <b>{{ p.user.first_name }} {{ p.user.last_name }}</b></p>
      <small><i class="material-icons" style="font-size:16px">place</i> {{ p.location }} <br> <i>Posted on: {{ p.timestamp }}</i></small>
      {% if request.user.is_student  %}
      {% if p.status == "open" %}
      <a href="{% url 'register_interest' p.id %}" class="btn btn-primary">Register Interest</a>
      {% elif p.status == "registered interest" %}
      <a href="{% url 'register_interest' p.id %}" class="btn btn-primary disabled">Registered Interest</a>
      {% endif%}
      {% endif%}
    </div>
  </div>
  <br>
{% endfor %}
{% endif %}
</div>
{% endblock %}