{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card-body">

            <form action="" method="POST" class="text-center">
                <p class="h4 mb-4">Update Password</p>
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.password1.errors %}
                <span class="help-block">{{ form.password1.errors.0 }}</span>
                {% endif %}
                <button class="btn btn-primary"" type="submit" id="submitbutton">Change Password</button>
                <br><br>
                
                <p>Forgot Password?
                    <a href="/accounts/reset_password">Reset Password</a>
                </p>
            </form>
            </div>
        
    </div>
    </div>
</div>


{% endblock %}