{% extends 'base.html' %}
{% block content %}
<div class="container" id="searchdivmain">
    <div class="col justify-content-center">
        <div class="row justify-content-center">
            <h4><br><br><br>{{ message }}</h4><br>
        </div>
        <!-- <div class="row justify-content-center">
            {% if userobj == user %}
                {% if link != "" %}
                <form action="{{ link }}">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">{{ btnname }}</button>
                </form>
                {% endif %}
            {% else %}
            <br>
            <label for="reg">If you haven't already:</label> &nbsp;
                <a href="/accounts/register" class="btn btn-primary btn-sm" role="button">Register Now</a>
                &nbsp; <i style="font-size:24px" class="fa">&#xf118;</i>
            {% endif %}
        </div> -->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
